Stáhni si dataset, který obsahuje seznam zvířat k adopci v ZOO Praha. Zdroj dat je Národní katalog otevřených dat.

In [2]:
import pandas

Data si načti pomocí metody pandas.read_csv(). Pozor, nastav oddělovač na znak středníku. Využij parametr sep.

In [3]:
adopce = pandas.read_csv('adopce-zvirat.csv', sep =';')
print(adopce)

       id             nazev_cz                     nazev_en       trida_cz  \
0       7          Šváb syčivý  Madagascar giant cockroach      Bezobratlí
1       8  Pakobylka okřídlená     Pink-winged stick insect     Bezobratlí
2      16                Tayra                        Tayra          Savci
3      35        Kajmanka supí    Alligator snapping turtle          Plazi
4      37      Želva žlutočelá       Indochinese box turtle          Plazi
..    ...                  ...                          ...            ...
508  1417  Rosnice šalamounská                               Obojživelníci
509  1418       Létavka obecná                               Obojživelníci
510  1419          Bažant paví                                       Ptáci
511  1420  Sojkovec rezavouchý                                       Ptáci
512  1421   Kachnice kaštanová                                       Ptáci

     cena  k_prohlidce
0    1000            1
1    1000            1
2    5000            1
3    2000            1
4    1000            1
..    ...          ...
508  1000            1
509  1000            1
510  1000            1
511  1000            1
512  1000            1

[513 rows x 6 columns]


Seznam se s daty. Kolik má tabulka řádek a sloupců?

In [4]:
adopce.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 513 entries, 0 to 512
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           513 non-null    int64
 1   nazev_cz     513 non-null    object
 2   nazev_en     513 non-null    object
 3   trida_cz     513 non-null    object
 4   cena         513 non-null    int64
 5   k_prohlidce  513 non-null    int64
dtypes: int64(3), object(3)
memory usage: 24.2+ KB

 Jak se sloupce jmenují?

In [5]:
print(adopce.columns)

Index(['id', 'nazev_cz', 'nazev_en', 'trida_cz', 'cena', 'k_prohlidce'], dtype='object')

Které zvíře se nachází na záznamu s indexem 34? Vypiš název tohoto zvířete v češtině a v angličtině.

In [6]:
print(adopce[["nazev_cz", "nazev_en"]].iloc[34])

nazev_cz     Ibis bílý
nazev_en    White ibis
Name: 34, dtype: object

Využij metody sort_values() (a libovolných dalších metod), ke zjištění následujících informací:
Adopce kterých zvířat je nejdražší?

In [12]:
print(adopce.sort_values(by='cena', ascending=False).head())

      id           nazev_cz        nazev_en trida_cz   cena  k_prohlidce
114  335    Tygr sumaterský  Sumatran tiger    Savci  50000            1
113  334    Tygr ussurijský  Siberian tiger    Savci  50000            1
272  897      Tygr malajský   Malayan tiger    Savci  50000            1
129  385  Hroch obojživelný    Hippopotamus    Savci  50000            1
128  381       Slon indický  Asian elephant    Savci  50000            1

Které zvíře je alfabeticky poslední v češtině?

In [10]:
print(adopce.sort_values(by='nazev_cz', ascending=False).head())

       id                                   nazev_cz                 nazev_en  \
371  1190                                Žluva hajní   Eurasian golden oriole
321  1069                                Žluna větší       Greater yellownape
135   396  Žirafa severní núbijská (= Rothschildova)   Rothschild's giraffe
4      37                            Želva žlutočelá   Indochinese box turtle
211   673                              Želva černavá  Giant Asian pond turtle

    trida_cz   cena  k_prohlidce
371    Ptáci   1000            1
321    Ptáci   1500            1
135    Savci  50000            1
4      Plazi   1000            1
211    Plazi   2000            1

Které v angličtině?

In [14]:
print(adopce["nazev_en"].sort_values(ascending=False).iloc[0])

Yellow-necked francolin