In [1]:
import pandas as pd

Část 1
Uvažuj, že zpracováváš analýzu pro softwarovou firmu. Firma má kanceláře v Praze, Plzni a Liberci. Seznam zaměstnanců pro jednotlivé kanceláře najdeš v souborech zam_praha.csv, zam_plzeň.csv a zam_liberec.csv.

Načti data o zaměstnancích z CSV souborů do tabulek (DataFrame). Ke každé tabulce přidej nový sloupec mesto, které bude obsahovat informaci o tom, ve kterém městě zaměstnanec pracuje.

In [45]:
zam_praha = pd.read_csv("zam_praha.csv")
zam_plzen = pd.read_csv("zam_plzen.csv")
zam_liberec = pd.read_csv("zam_liberec.csv")
platy = pd.read_csv("platy_2021_02.csv")
vykazy = pd.read_csv("vykazy.csv")
zam_praha["Mesto"] = "Praha"
zam_plzen["Mesto"] = "Plzeň"
zam_liberec["Mesto"] = "Liberec"

Vytvoř novou tabulku zamestnanci a ulož do ní informace o všech zaměstnancích (operace concat).

In [9]:
zamestnanci = pd.concat([zam_praha, zam_plzen, zam_liberec])

(56, 5)

Ze souboru platy_2021_02.csv načti platy zaměstnanců za únor 2021. Propoj tabulku (operace join) s platy a tabulku se zaměstnanci pomocí sloupce cislo_zamestnance.

In [48]:
platy_zamestnanci = pd.merge(platy, zamestnanci, on="cislo_zamestnance")
platy_zamestnanci.head()

   cislo_zamestnance     plat   jmeno    prijimeni   telefonni_cislo  Mesto
0                  3  54900.0   Stacy  Pospíšilová       727 293 880  Plzeň
1                  6  54800.0   Matěj         Král       770 787 377  Plzeň
2                  7  36400.0  Amanda       Wilson  +421 52 656 7231  Plzeň
3                  8  47900.0   Angel       Wilson  +421 52 135 2491  Plzeň
4                 16  34200.0   Radim      Kopecký  +421 917 371 226  Plzeň

Porovnej rozměry tabulek před spojením a po spojení. Pokud nemá některý zaměstnanec plat za únor, znamená to, že v naší firmě již nepracuje.
Spočti průměrný plat zaměstnanců v jednotlivých kancelářích.

In [22]:
print(platy.shape)
print(zamestnanci.shape)
print(platy_zamestnanci.shape)
#ve firmě již zřejmě nepracuje 13 zaměstanců, proto sloučená tabulka má jen 43 řádků, stejně jako tabulka s platy

(43, 2)
(56, 5)
(43, 6)

Spočti průměrný plat zaměstnanců v jednotlivých kancelářích.

In [27]:
print(platy_zamestnanci.groupby("Mesto")["plat"].mean())

Mesto
Liberec    43775.000000
Plzeň      44792.857143
Praha      43295.238095
Name: plat, dtype: float64

Část 2
Pokračuj ve své práci pro softwarovou firmu. Ze souboru vykazy.csv načti informace o výkazech na projekty pro jednoho vybraného zákazníka.

Načti data ze souboru a ulož je do tabulky.

In [65]:
vykazy.shape

(27, 4)

Proveď agregaci a zjisti celkový počet vykázaných hodin za jednotlivé projekty.

In [53]:
print(vykazy.groupby("project")["hours"].sum())

project
F30    21.5
JL9     2.1
TE1    16.0
W05    30.5
YLI    31.0
Name: hours, dtype: float64

Nepovinný bonus 1
Ulož do proměnné počet zaměstnanců, kteří v naší firmě již nepracují.
V rámci úspory se IT oddělení rozhodlo prověřit licence přidělené zaměstnancům, kteří ve firmě již nepracují. Vytvoř samostatnou tabulku, která obsahuje jména zaměstnanců, kteří ve firmě již nepracují.

In [52]:
vsichni_zamestnanci = pd.merge(platy, zamestnanci, how="outer", on="cislo_zamestnance")
odesli_zamestnanci = vsichni_zamestnanci[vsichni_zamestnanci["plat"].isna()]
odesli_zamestnanci.head()

    cislo_zamestnance  plat     jmeno prijimeni   telefonni_cislo  Mesto
43                 35   NaN    Marcel     Hájek  +421 902 928 669  Praha
44                 53   NaN  Karolína     Short       721 589 083  Praha
45                 54   NaN  Michelle   Vlčková  +421 41 720 7806  Praha
46                 58   NaN      John    Bailey       775 021 116  Praha
47                 60   NaN   William   Shelton  +421 47 745 8219  Praha

Tabulku ulož do souboru CSV.

In [44]:
odesli_zamestnanci.to_csv("exzamestnanci.csv")

Nepovinný bonus 2
Propoj tabulku s výkazy s tabulkou se zaměstnanci, kterou jsi vytvořil(a) v předchozím cvičení.

In [68]:
vykazy_zamestnanci = pd.merge(zamestnanci, vykazy, how="right", left_on="cislo_zamestnance", right_on="emloyee_id")
vykazy_zamestnanci.shape

(27, 9)

Následně proveď statistiku vykázaných hodin za jednotlivé kanceláře, tj. spočítej celkový počet hodin vykázaný zaměstnanci jednotlivých kanceláří na projekty daného zákazníka.

In [69]:
print(vykazy_zamestnanci.groupby(["Mesto", "project"])["hours"].sum())

Mesto    project
Liberec  TE1        10.8
         W05         5.4
         YLI        11.8
Plzeň    F30        10.3
         YLI         5.3
Praha    F30        11.2
         JL9         2.1
         TE1         5.2
         W05        25.1
         YLI        13.9
Name: hours, dtype: float64

In [70]:
#kontrola
print(vykazy["hours"].sum())
print(vykazy_zamestnanci["hours"].sum())

101.1
101.1